$TTL    604800
@       IN      SOA     dns.proxmox.lan. admin.proxmox.lan. (
                             2025120301
                             604800
                             86400
                             2419200
                             604800 )

@       IN      NS      dns.proxmox.lan.

5       IN      PTR     ansible.proxmox.lan.
10      IN      PTR     dhcp.proxmox.lan.
20      IN      PTR     dns.proxmox.lan.
30      IN      PTR     web1.proxmox.lan.
40      IN      PTR     web2.proxmox.lan.
50      IN      PTR     bdd.proxmox.lan.
60      IN      PTR     bacrup.proxmox.lan.
70      IN      PTR     haproxy.proxmox.lan.
