$TTL 86400
@   IN SOA dns.proxmox.lan. admin.proxmox.lan. (
        2025120101  ; Serial
        3600        ; Refresh
        1800        ; Retry
        604800      ; Expire
        86400 )     ; Negative Cache TTL

; Serveur de noms
@   IN NS dns.proxmox.lan.

; Enregistrements A
dns     IN A 192.168.1.20
dhcp    IN A 192.168.1.10
web1    IN A 192.168.1.30
web2    IN A 192.168.1.40
bdd     IN A 192.168.1.50
backup  IN A 192.168.1.60
haproxy IN A 192.168.1.70
