options {
        directory "/var/cache/bind";

        recursion yes;
        allow-recursion { any; };

        forwarders {
                192.219.64.110;
                192.219.64.7;
                192.219.64.111;
                8.8.8.8;
        };

        forward only;

        dnssec-validation no;

        auth-nxdomain no;

        listen-on { any; };
        listen-on-v6 { none; };
};
